@import "tailwindcss";

/* Scrollbar reset */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

canvas {
  touch-action: none !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}